.header h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.home-info {
  padding:1rem 0;
}

.home-info p {
  text-align: center;
}

.anchor {
  text-decoration: none;
}

.anchor:hover {
  cursor: pointer;
}