.header h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.home-info {
  padding:1rem 0;
}

.home-info p {
  text-align: center;
}

.modal-title {
  color: black;
}

.gap {
  margin-left: 5px;
}

.btn-box button {
  margin-left: 5px;
  margin-right: 5px;
}